body {
    background: #2F3136;
}

.logo {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainlogo {
    height: 150px;
}

.buttons {
    margin-left: 10px;
    height: 60px;
}

@media screen and (max-width: 992px) {
    .mainlogo {
        height: 120px;
    }

    .buttons {
        margin-left: 10px;
        height: 40px;
    } 
}